# Not-yet finished implementations
hog-svm/

# Unit tests
tests/

# Datasets and results
data/
result*

# Pybgs configurations
/config/

# VSCode configurations
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class