# Unit tests
tests/

# Datasets and results
data/
result*
*.model
*dets.json

# Pybgs configurations
/config/

# VSCode configurations
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class